

<div id="<%= dom_id evaluation %>">
  <p>
    <strong>Presentation Selection:</strong>
    <%= evaluation.presentation.title %>
  </p>
  <p>
    <strong>Score:</strong>
    <%= evaluation.score %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= evaluation.comments %>
  </p>

</div>
