<h1>Editing presentation</h1>

<%= render "form", presentation: @presentation %>

<br>

<div>
  <%= link_to "Show this presentation", @presentation %> |
  <%= link_to "Back to presentations", presentations_path %>
</div>
