<p style="color: green"><%= notice %></p>

<h1>All Presentations</h1>

<input type="text" id="presentationFilter" placeholder="Date Filter: YYYY-MM-DD">

<div id="presentations">
  <% @presentations.each do |presentation| %>
    <%= render presentation %>
    <p>
      <%= link_to "Show this presentation", presentation %>
    </p>
  <% end %>

</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var filterInput = document.getElementById('presentationFilter');
  var presentationsContainer = document.getElementById('presentations');

  filterInput.addEventListener('input', function() {
    var filterValue = filterInput.value.toLowerCase();

    presentationsContainer.querySelectorAll('.presentation-table').forEach(function(presentationTable) {
      var presentationDateElement = presentationTable.querySelector('.presentation-date');
      var presentationLink = presentationTable.nextElementSibling; // Assuming the link is a sibling element

      if (presentationDateElement) {
        var presentationDate = presentationDateElement.nextElementSibling.textContent.toLowerCase();

        // Show or hide the presentation based on the filter
        var displayStyle = presentationDate.includes(filterValue) ? 'table' : 'none';
        presentationTable.style.display = displayStyle;
        presentationLink.style.display = displayStyle === 'none' ? 'none' : 'block';
      }
    });
  });
});
</script>