<!-- app/views/presentations/student_dashboard.html.erb -->

<h1>My Presentations</h1>

<div id="presentations">
  <% @presentations.each do |presentation| %>
    <%= render partial: 'presentation', locals: { presentation: presentation } %>
    <p>
      <%= link_to "Show this presentation", presentation %>
    </p>
  <% end %>
</div>
